@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    font-family: 'Poppins', sans-serif;
    
}
:root{
    --roxo-escuro: #6f0cb5;
    --roxo: hsl(272, 100%, 51%);
    --orange: #ff7c37;
    --degrade-btn: linear-gradient(#15ffbd, #1cc2ff);
    --color-p: #a1a1a1;
    --color-p-2: #868585;
    --color-cnt: #A4D6EF;
}

.background-roxo{
    background: var(--roxo-escuro);
}

.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
    background: var(--color-cnt) ;
    
}

section,
footer{
    padding: 2.7rem 0;
}

.btn-gradiente{
   padding: 10px 25px;
   color: white;
   border: none; 
   cursor: pointer;
   background-image: var(--degrade-btn);
  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
   
}

.logo a{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.ul{
    display: flex;
    align-items: center;
}

.ul li{
    margin: 0 35px;
    font-size: 15px;
}
.ul li a{
     color: white;
}

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.main-text{
    width: 50%;
    color:white;
}

.main-text h1{
    font-size: 3.5rem;
}

.main-text div{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.main-img{
    width: 50%;
}

.main-img img{
    width: 100%;
}

.menu-icon{
    display: none ; 
     position: relative;
}

.diferencas .container{
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
}
.diferencas .card{
    width: 30%;
    cursor: pointer;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    background: white;
}
.diferencas .card:hover{
    box-shadow: 0px 10px 67px 8px #4f4f5085;
}
.diferencas .card img{
    width: 60px;
}
.diferencas .card .titulo{
    margin: 13px 0;
    font-weight: 600;
}
.card-button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
    background-color: #7400d6;
}

/* responsivo */
@media (max-width: 960px) {
    .menu-icon{
        display: block; 
    }
    .ul{
       position: fixed;
       background:  var(--roxo); 
       top: 0;
       width: 100%;
       height: 100%;
       left: 100%;
       transition: 0.3s;
       flex-direction: column;
       justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;

    }
    .ul.ativo{
        left: 0%;
    }
    .container{
            flex-direction: column;
    }
   .container .card{
        width: 100%;
    }
    .container .card{
        width: 100%;
        text-align: center;
    }
    .container .card .titulo h3{
         font-size: 4rem;
    }
    .container .card div{
        justify-content: center;
    }

    /* responsivo */
@media (max-width: 960px) {
    .menu-icon{
        display: block; 
    }
    .ul{
       position: fixed;
       background:  var(--roxo); 
       top: 0;
       width: 100%;
       height: 100%;
       left: 100%;
       transition: 0.3s;
       flex-direction: column;
       justify-content: center;
    }
    .ul li{
        font-size: 20px;
        margin: 20px 0;

    }
    .ul.ativo{
        left: 0%;
    }
    main .container{
            flex-direction: column;
    }
    main .container .main-img{
        width: 100%;
    }
    main .container .main-text{
        width: 100%;
        text-align: center;
    }
    main .container .main-text h1{
         font-size: 4rem;
    }
    main .container .main-text div{
        justify-content: center;
    }
    .resultados .container{
        flex-direction: column;
     }
    
     .resultados .resultados-text, .resultados .resultados-numero{
        width: 100%;
        text-align: center;
     }
    
     .resultados-numero{
        margin-top: 30px;
     }
     .diferencas .container{
        flex-direction: column;
     }
     .diferencas .card{
        width: 100%;
     }

     .banner .container{
        flex-direction: column-reverse;
     }
     .banner .banner-text{
        width: 100%;
     }
     .banner .banner-text,
     .banner .banner-img{
        width:100%;
        text-align: center;
     }
}  


@media (max-width:440px) {
    .resultados .resultados-numero{
        flex: column;
    }
    
    main .container .main-text h1{
        font-size: 3rem;
    }

  }
}